* {
    margin: 0;
    padding: 0;

}
.conteiner-fluid {
    margin: 0;
    padding: 0;
}

body {
    background-image:
        url(../imagenes/fondo\ pagina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}


.menuLetras {
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    color: white;
    margin: 10px;
}

.envios h4 {
    font-weight: bold;
    font-size: 50px;
    margin: 30px 0px;
    color: white;
}

.envios p {

    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    color: black;
}

@keyframes enviosAnime {
    0% {
        background-color: rgb(90, 165, 159);
    }

    20% {
        background-color: rgb(120, 194, 188);
    }

    40% {
        background-color: rgb(150, 212, 207);
    }

    60% {
        background-color: rgb(188, 243, 238);
    }

    80% {
        background-color: rgb(150, 212, 207);
    }

    100% {
        background-color: rgb(120, 194, 188);
    }
}

.envios {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    animation-name: enviosAnime;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    border: 3px dotted black;
    /*margin: 40px 0px;*/
    position: center;
    text-align: center;

}

.destacadosLetra {
    font-size: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}

.imgCarrusel img {
    width: 5rem;
    height: 30rem;
}

.imgCarrusel {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 2rem 0;
}

article .imgChuli {
    width: 200px;
    margin-top: 5px;
    transition: all 3s;
    filter: grayscale(100%);
}

article .imgChuli:hover {
    width: 300px;
    filter: none;
}

article h3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.parrafoChuli {
    color: darkcyan;
    border: 1px dotted black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 95%;

}

.footer a {
    display: inline-block;
    text-decoration: none;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 20px;
    border-bottom: solid black 2px;
    width: 200px;
    height: 30px;
    margin: 10px;
}

/*.row {
    --bs-gutter-x: none;
}

body {
    background-image:
        url(../imagenes/fondo\ pagina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}


.imgTitulo {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    border: 0;

}


.menu {
    position: sticky;
    top: 0px;
    justify-content: center;
    width: 90%;

}

.menuQuieto li {
    display: inline-block;
    font-size: 25px;
    margin: 5px;
    padding: 0;
    border-bottom: 2px groove rgb(65, 121, 115);
    background-color: rgb(90, 165, 159);
    color: white;
}

.menuQuieto a {
    text-decoration: none;

}

@keyframes enviosAnime {
    0% {
        background-color: rgb(90, 165, 159);
    }

    20% {
        background-color: rgb(120, 194, 188);
    }

    40% {
        background-color: rgb(150, 212, 207);
    }

    60% {
        background-color: rgb(188, 243, 238);
    }

    80% {
        background-color: rgb(150, 212, 207);
    }

    100% {
        background-color: rgb(120, 194, 188);
    }
}

.envios {
    display: flex;
    flex-direction: column;
    width: 90%;
    animation-name: enviosAnime;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    border: 3px dotted black;
    margin: 10px 10px;
    position: center;
    text-align: center;

}

.envios h4 {
    font-weight: bold;
    font-size: 50px;
    margin: 30px 0px;
    color: white;
}

.envios p {

    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    color: black;
}

article h3 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;

}

article .imgChuli {
    width: 200px;
    margin-top: 5px;
    transition: all 3s;
    filter: grayscale(100%);
}

article .imgChuli:hover {
    width: 250px;
    filter: none;
}

.parrafoChuli {
    color: darkcyan;
    border: 1px dotted black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 95%;

}

.footer a {
    display: inline-block;
    text-decoration: none;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 20px;
    border-bottom: solid black 2px;
    width: 200px;
    height: 30px;
    margin: 10px;
}

.imgDestacados {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: darkolivegreen;
}

.imgDestacados img {
    width: 200px;
    height: 200px;

}

.imgCatalogo img {
    width: 300px;
    height: 300px;
    padding: auto;
    margin: 30px;
    border: 1px dotted coral;

}

.textoCatalogo {

    font-family: fantasy;
    font-size: 40px;
    text-align: center;
    margin: 50px 0;

}

.imgCatalogo li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin: 40px 5px 20px 5px;
    list-style: circle;

}

.contacto {
    font-size: 30px;
    margin: 0px;
}

.contacto h3 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 50px;
}

.contacto label {
    display: block;
}

.contacto input {
    margin-bottom: 20px;
}

.contactoCartel {
    font-size: 30px;
    font-style: oblique;
    color: darkslategrey;
    margin: 10px;
    padding: center;
    border: double 3px rgb(90, 165, 159);
    text-align: center;
    width: 90%;
}




.articulo {
    display: flex;
    flex-direction: column;

}

.catalogoFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.menuQuieto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


@media screen and (max-width:1160px) {
    .imgCatalogo img {
        width: 190px;
        height: 190px;
    }

}

@media screen and (max-width:768px) {
    .menuQuieto li {
        font-size: 20px;
    }

    .imgCatalogo img {
        width: 150px;
        height: 150px;
        padding: 10px;
    }

    .contacto {
        font-size: 20px;
    }
}

@media screen and (max-width:680px) {
    .menuQuieto li {
        font-size: 20px;
    }

    .imgCatalogo img {
        width: 150px;
        height: 150px;
        padding: 10px;
    }
}



@media screen and (max-width: 490px) {
    .menuQuieto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        position: relative;
    }


    .imgDestacados img {
        width: 100px;
        height: 100px;
        margin: 5px;


    }

    .imgDestacados img:hover {
        transform: scale(1.8);
        border: solid rgb(92, 192, 135) 2px;
    }

    article .imgChuli {
        width: 130px;

    }

    .parrafoChuli {
        color: darkcyan;
        border: 1px dotted black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;

    }

    .envios {
        background-color: rgb(90, 165, 159);

        border: 2px dotted black;

        position: center;


        text-align: center;

    }

    .contactoDatos {
        font-size: 15px;
    }

    .contactoCartel {
        font-size: 15px;
    }*/